/mysql-data/
/mysql-data/#innodb_redo/
/mysql-data/#innodb_temp/
/mysql-data/mysql/
/mysql-data/mysql_database_name/
/mysql-data/performance_schema/
/mysql-data/sys/
/mysql-data/#ib_16384_0.dblwr
/mysql-data/#ib_16384_1.dblwr
/mysql-data/auto.cnf
/mysql-data/binlog.000001
/mysql-data/binlog.000002
/mysql-data/binlog.000003
/mysql-data/binlog.000004
/mysql-data/binlog.000005
/mysql-data/binlog.index
/mysql-data/ca.pem
/mysql-data/ca-key.pem
/mysql-data/client-cert.pem
/mysql-data/client-key.pem
/mysql-data/ib_buffer_pool
/mysql-data/ibdata1
/mysql-data/mysql.ibd
/mysql-data/mysql.sock
/mysql-data/private_key.pems
/mysql-data/public_key.pem
/mysql-data/server-cert.pem
/mysql-data/server-key.pem
/mysql-data/undo_001
/mysql-data/undo_002
.idea/ambiente.iml